<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base :: html">
<body>
<div th:fragment="content">
    <br/>
    <br/>
    <div class="py-3 text-center">
        <div class="py-3">
            <h2 id="word"></h2>
            <h5 id="transcription"></h5>
        </div>
        <div class="container col-3 mx-auto">
            <div class="row align-items-center">
                <div class="col-md-auto p-0">
                    <p id="counter" class="text-start fw-light m-0">2/10</p>
                </div>
                <div id="heart-container" class="col text-end p-0">
                    <template id="template">
                        <img id="heart-template" th:src="@{/images/heart1.png}"/>
                        <img id="broken-heart-template" th:src="@{/images/heart2.png}"/>
                    </template>
            </div>
        </div>
    </div>
    <div id="options-container" class="d-grid gap-2 col-3 py-4 mx-auto">
        <button id="button-template" class="btn btn-outline-primary" type="button"></button>
    </div>
</div>
<div id="back-to-menu">
    <a th:href="@{/}">Назад в меню</a>
</div>
<script th:src="@{/js/game.js}" defer></script>
</div>
</body>
</html>