<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: html}">
<body>

    <main th:fragment="content" class="d-grid gap-2 col-8 col-md-5 col-lg-12 py-4 mx-auto">
        <div class="py-3 text-center">
            <h4 class="fw-normal">Выбери сложность:</h4><br/>
        </div>
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col-lg-2" th:each="level : ${levels}">
                    <a th:href="${securityManager.isLevelAllowed(level)} ? @{/game?level={id}(id=${level.getId()})} : @{#}">
                        <img th:src="@{/images/difficulty_levels/level{id}.png (id = ${level.getId()})}"/>
                        <h4 class="fw-normal" th:text="${level.getName()}">Name</h4>
                    </a>
                    <p th:if="${securityManager.isLevelAllowed(level)}" th:text="${level.getDescription()}">Description</p>
                    <p th:if="${!securityManager.isLevelAllowed(level)}">необходимо зарегистрироваться</p>
                </div>
            </div>
        </div>
    </main>

</body>
</html>